* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #990f02;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;/*How long the transition is*/
}

#word {
    margin-top: 4rem;
    font-size: 3rem;
    color: cyan
}

/* animations below found at https://www.elegantthemes.com*/
.container:hover {
    width: 300px;/*final width*/
    height: 300px;/*final height*/
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);/*spin*/
}

.pulse {
  animation: pulse 1s;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(3); }
  100% { transform: scale(1); }
}
